<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Bienvenido a {{ title }}</title>
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">
  </head>
  <body>

    <div class="container">
      <h1>Estamos en el ambiente de {{ mode }}</h1>
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary" (click)="showMensajeHome()">Home</button>
          <button class="btn btn-primary" (click)="showMensajeRegister()">Registro</button>
        </div>
      </div>
      <div class="card-body">
        Pruebas
      </div>
    </div>
  </body>
</html>
